-- 菜单SQL
INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
    VALUES (SYS_MENU_MENU_ID_SEQ.NEXTVAL,'0', '${tableName}管理', NULL, NULL, '0', 'fa fa-file-code-o', '6');

INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
VALUES (SYS_MENU_MENU_ID_SEQ.NEXTVAL,SYS_MENU_MENU_ID_SEQ.currval-1, '${tableName}列表', 'modules/cdyx/${pathName}.html', NULL, '1', 'fa fa-file-code-o', '6');


-- 按钮父菜单ID
-- set @parentId = @@identity;
 
-- 菜单对应按钮SQL
INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
    SELECT SYS_MENU_MENU_ID_SEQ.NEXTVAL,SYS_MENU_MENU_ID_SEQ.currval-1, '查看', null, '${pathName}:list,${pathName}:info', '2', null, '6' from dual;
INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
    SELECT SYS_MENU_MENU_ID_SEQ.NEXTVAL,SYS_MENU_MENU_ID_SEQ.currval-2, '新增', null, '${pathName}:save', '2', null, '6' from dual;
INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
    SELECT SYS_MENU_MENU_ID_SEQ.NEXTVAL,SYS_MENU_MENU_ID_SEQ.currval-3, '修改', null, '${pathName}:update', '2', null, '6' from dual;
INSERT INTO sys_menu (menu_id,parent_id, name, url, perms, type, icon, order_num)
    SELECT SYS_MENU_MENU_ID_SEQ.NEXTVAL,SYS_MENU_MENU_ID_SEQ.currval-4, '删除', null, '${pathName}:delete', '2', null, '6' from dual;
